.App {
  text-align: center;
}

.loading {
  font-size: xx-large;
  margin: 5% 35%;
  padding: 5px 10px;
  width: 25%;
}

.loading span {
  animation: Loading 1.5s;
}

.loading img {
  animation: CartShake 1s infinite;
  width: 50px;
}

.main-div {
  margin: 4px;
  width: 100%;
}

/* Barra de pesquisa */
.search-area {
  margin: 12px;
  margin-left: 20%;
  padding: 32px;
}

.search-area > :nth-child(1) {
  display: flex;
  justify-content: center;
  padding: 4px;
  width: 100%;
}

.search-area .search-input {
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 2px #091c15;
  font-size: larger;
  margin: 4px 8px;
  padding: 8px 16px;
  min-width: 60%;
}

.search-area .search-input:focus {
  outline: none;
}

.search-area .search-btn {
  background-color: #b7e4c7;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 2px #091c15;
  cursor: pointer;
  font-weight: 600;
  margin: 4px;
  padding: 10px 15px;
}

.search-area .search-btn:hover {
  background-color: #84a98c;
}

.initial-msg {
  font-size: larger;
  margin: 30px auto;
  text-align: center;
}

.cart-button {
  height: 48px;
  margin: 8px;
  position: relative;
  width: 48px;
}

/* "Indicador" de quantidade no carrinho */
.cart-button span {
  background-color: darkgoldenrod;
  border-radius: 50%;
  font-size: medium;
  font-weight: 600;
  padding: 4px 8px;
  position: absolute;
  right: -25%;
  top: 75%;
}

/* ↓ Início ListProducts style ↓ */
.list-products {
  display: flex;
}

.list-products ul {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  margin: 8px;
  width: 100%;
}

.list-products ul li {
  align-items: center;
  background-color: #dfece2;
  border-radius: 5px;
  box-shadow: 0 0 2px #091c15;
  display: flex;
  flex: auto;
  flex-flow: column;
  justify-content: space-around;
  margin: 4px;
  padding: 4px;
  position: relative;
  text-align: center;
}

.list-products .product-img {
  border-radius: 5px;
  max-height: 50%;
  width: 85%;
}

.product-price {
  font-weight: 600;
  letter-spacing: 0.5px;
  text-shadow: 0.3px 0.3px 1px #d8f3dc;
}

.list-products ul li button {
  background-color: #b7e4c7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 2px #091c15;
  cursor: pointer;
  font-weight: 600;
  margin: 0 0 8px;
  padding: 4px 8px;
}

.list-products ul li button:hover {
  background-color: #84a98c;
}

.free-shipping {
  animation: FreeShip 0.25s linear infinite;
  margin: auto;
  position: absolute;
  text-shadow: 0.3px 0.3px 1.5px #091c15;
  top: 55%;
}

/* ↑ Final ListProducts style ↑ */
button .iconCart {
  animation: Icon-spin 10s infinite linear;
  width: 95%;
}

@media (max-width: 768px) {
  .search-area {
    margin-left: 8px;
    padding-inline: 0;
  }
}

@media (max-width: 426px) {
  .list-products {
    margin-inline: 3%;
  }
}

@keyframes FreeShip {
  0% {
    color: darkgoldenrod;
  }

  50% {
    color: darkred;
  }

  100% {
    color: darkorange;
  }
}

@keyframes Icon-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes Loading {
  from {
    letter-spacing: -15px;
    opacity: 0.5;
  }

  to {
    letter-spacing: 0;
    opacity: 1;
  }
}

@keyframes CartShake {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
